
.list-detail-wrapper{
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #0c0c0c 0%, #1c0000 100%);
  min-height: 100vh;

  padding-top: 100px; /* ⬅️ para evitar que la toolbar tape el título */
  text-align: center;
  color: white;

}
.content-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 20px 0;
}

a {
  text-decoration: none;
}

.list-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 80px;
  font-family: 'Lexend Mega', sans-serif;
}

.list-description {
  text-align: center;
  color: #ccc;
  font-size: 1rem;
  margin-bottom: 24px;
}

.back-btn {
  position: absolute;
  top: 140px;
  left: 40px;
  background-color: #b30000;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 100;
}

.back-btn:hover {
  background-color: #a00000;
}

.content-item button {
  margin-top: 8px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(255, 77, 77, 0.3);
}

.content-item button:hover {
  background-color: #e63946;
  transform: scale(1.05);
}
.delete-list-btn {
  position: absolute;
  top: 140px;
  right: 40px;
  background-color: #cc0000;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 14px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 100;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 10px rgba(204, 0, 0, 0.4);
}

.delete-list-btn:hover {
  background-color: #990000;
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(204, 0, 0, 0.6);
}
